# ------------------------------------------------
# Case Name:
#       case_rfc2616_response-pragmaHead-order-multi-7Values
# Case Description:
#       cache MUST preserve field-value order when caching multi-valued Pragma response header with 7 values
# Testing Steps:
#       step 1: preserve field-value order when caching multi-valued Pragma response header with 7 values
# Author: qihai.qh@alibaba-inc.com
# -----------------------------------------------
# step 1: preserve field-value order when caching multi-valued Pragma response header with 7 values
--- {
    Request: {
        method: GET,
        uri: '/pragmaHead-order-multi-7Values',
        protocol: HTTP/1.1,
        Connection: close,
        Host: "macaroon.zymlinux.net",
    },
    ServerCheck: {
        method: GET,
        uri: '/pragmaHead-order-multi-7Values',
        protocol: HTTP/1.1,
        Host: "macaroon.zymlinux.net",
    },
    Response: {
        protocol: HTTP/1.1,
        statuscode: 200,
        Pragma: 'aa,bb,cc,dd,ee,ff,gg',
        Last-Modified: now-31536000,
        Connection: close,
        body: body-pragma,
    },
    ClientCheck: {
        protocol: HTTP/1.1,
        statuscode: 200,
        Last-Modified: now-31536000,
        Pragma: 'aa,bb,cc,dd,ee,ff,gg',
        Connection: close,
        body: body-pragma,
    }
}
